{{page-title "Section"}}

<nav class="navbar navbar-light bg-light">
  <LinkTo class="btn btn-outline-success my-2 my-sm-0" @route="board" >Board</LinkTo>
  <l>{{model.employee}} </l>
  <button class="btn btn-outline-danger my-2 my-sm-0" {{action "disconnect"}}>Logout</button>
</nav>

<div class="container p-3 my-3 bg-dark text-white"style="border-radius: 10px;">
  <h1>Gestion du Store</h1>
  <nav class="navbar navbar-light" style="background-color: #FFFFFF; border-radius: 5px;  ">
    <button class="btn btn-outline-success my-2 my-sm-0"{{action "addSection"}}>Nouvelle section..</button>
    <button class="btn btn-outline-success my-2 my-sm-0"{{action "addProduit"}}>Nouveau  produit..</button>
  </nav>

  <div style="margin-top: 10px">
    <ul>
  {{#each @model as |sec|}}
    <li style="margin-top: 10px">
      <h5 style="width: 400px; margin-right: 0px">{{sec.name}}</h5>
      <button class="btn btn-outline-danger btn-sm float-right" {{action "DeleteSection" sec}}>Supprimer</button>
      <button class="btn btn-outline-warning btn-sm float-right"style="margin-right: 20px" {{action "ModifierSelection" sec}}>Modifier</button>
      <span><i>{{sec.description}}</i></span>

    </li>
  {{/each}}
    </ul>
  </div>



  {{outlet}}
</div>

