{{page-title "Step1"}}


<div class="">
  <p style="font-size: 40px">Sélectionnez vos produits</p>
  <p style="font-size: 20px">Produits disponibles</p>
</div>

<div>
<div>
<select class="form-select" size="10" id="dispo" multiple>
  {{#each @model.produitDispo as |pdt|}}
    <option value={{pdt.id}}>{{pdt.title}}</option>
  {{/each}}
</select>
</div>
<select class="form-select" size="10" id="inclure" multiple>
  {{#each @model.produitInclure as |pdt|}}
    <option value={{pdt.id}}>{{pdt.title}}</option>
  {{/each}}
</select>
</div>
<div>
  <button type="button" onclick={{@model.switchAll}} class="btn btn-primary">▶</button>
  <button type="button" class="btn btn-primary">▶▶</button>
  <button type="button" class="btn btn-primary">◀</button>
  <button type="button" class="btn btn-primary">◀◀</button>
</div>



{{outlet}}